<div class="employee-list">
    <b class="employee-name" >User Name: {{employee.name | filterName: employee.id}}</b><br><br>
    <b>User Id: {{employee.id}}</b><br><br>
    <b>User Created At: {{employee.createdAt}}</b><br><br>
    <img [src]="employee.avatar" [title]="employee.name"/><br><br>

    <input type="text" [(ngModel)]="employee.name" /><br><br>

    <input type="button" value="Click To Get Name" (click)='getUserName(employee)'/>

    <input type="button" value="Click To Set Name" (click)='setUserName("Dummy", employee)'/>

    <input type="button" value="Propogate Event To Parent" (click)="clickPropogationEvent(employee)" />

</div>